source 'https://supermarket.chef.io'

metadata

cookbook 'deploy', path: '../opsworks-cookbooks/deploy'
cookbook 'mod_php5_apache2', path: '../opsworks-cookbooks/mod_php5_apache2'
cookbook 'apache2', path: '../opsworks-cookbooks/apache2'
cookbook 'dependencies', path: '../opsworks-cookbooks/dependencies'
cookbook 'gem_support', path: '../opsworks-cookbooks/gem_support'
cookbook 'opsworks_nodejs', path: '../opsworks-cookbooks/opsworks_nodejs'
cookbook 'ssh_users', path: '../opsworks-cookbooks/ssh_users'
cookbook 'ruby', path: '../opsworks-cookbooks/ruby'
cookbook 'opsworks_commons', path: '../opsworks-cookbooks/opsworks_commons'
cookbook 'opsworks_aws_flow_ruby', path: '../opsworks-cookbooks/opsworks_aws_flow_ruby'
cookbook 'opsworks_java', path: '../opsworks-cookbooks/opsworks_java'
cookbook 'opsworks_postgresql', path: '../opsworks-cookbooks/opsworks_postgresql'
cookbook 'scm_helper', path: '../opsworks-cookbooks/scm_helper'
cookbook 'opsworks_agent_monit', path: '../opsworks-cookbooks/opsworks_agent_monit'
cookbook 'opsworks_initial_setup', path: '../opsworks-cookbooks/opsworks_initial_setup'
cookbook 'opsworks_bundler', path: '../opsworks-cookbooks/opsworks_bundler'
cookbook 'passenger_apache2', path: '../opsworks-cookbooks/passenger_apache2'
cookbook 'opsworks_rubygems', path: '../opsworks-cookbooks/opsworks_rubygems'
cookbook 'rails', path: '../opsworks-cookbooks/rails'
cookbook 'packages', path: '../opsworks-cookbooks/packages'
cookbook 'ebs', path: '../opsworks-cookbooks/ebs'
cookbook 'ssh_host_keys', path: '../opsworks-cookbooks/ssh_host_keys'
cookbook 'opsworks_ganglia', path: '../opsworks-cookbooks/opsworks_ganglia'
cookbook 'agent_version', path: '../opsworks-cookbooks/agent_version'
cookbook 'mysql', path: '../opsworks-cookbooks/mysql'
